    <div class="splash-home-cta pure-u-1 pure-u-md-1 pure-u-xl-1 l-box-lrg bg-ff bg-ff-secondary" >
        <h5><span><b>Minimize risks and increase your campaigns success</b> with lots of smart-stuff and a group of excellent professionals.</span></h5>
        <h2><b>facts</b> & <b>fictions</b> uses a <b>human-focused approach</b> to deliver <b>remarkable digital experiences</b>, by blending <b>cutting-edge technology</b>, at the intersection with the boundaries of <b>art</b>, <b>design</b> & <b>science</b>.</h2>
        <p hidden>
            <small>We are accepting commissioned works and we will be glad to hear your story.</small>
            
        </p>
        <div class="">        

            <a href="{{ '/contact' | prepend: site.data.global.url }}" class="pure-button pure-button-secondary" title="send a mail to {{ site.data.global.email }}">
                Contact us
            </a>

            <a hidden href="mailto:{{ site.data.global.email }}" class="pure-button pure-button-secondary" title="send a mail to {{ site.data.global.email }}">
            Want us to work for you?
                <span>Click here to hire us</span>
            </a>
        
        </div>

    </div>