    <div class="splash-home-cta pure-u-1 pure-u-md-1 pure-u-xl-1 l-box-lrg bg-ff bg-ff-secondary" >
        <h5><span>{{ site.data.global.call_title | markdownify }}</h5>
        <h2>{{ site.data.global.call_intro | markdownify }}</h2>

        {% if site.data.global.call_url != '' %}
            <a href="{{ site.data.global.call_url | prepend: site.data.global.url }}" class="pure-button pure-button-secondary">
                {{ site.data.global.call_link }}
            </a>
        {% endif %} 

    </div>