
body.page-home {

  // Mockup variations
  &.page-home-0 {
    // hide navigation on this version
    section.main {
      margin-top: $spacing-unit;
    }
    nav.pure-menu {
      display: none;
    }

    // Background fantasia
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  

    // @include transition("background-color 3s ease 0s, transform 0.3s ease 0s");
    &.bg-1 {
      @include cover-background('../dist/images/backgrounds/background-01.jpg', 'center', 'center', 'fixed');
    }
    &.bg-2 {
      @include cover-background('../dist/images/backgrounds/background-02.jpg', 'center', 'center', 'fixed');
    }
    &.bg-3 {
      @include cover-background('../dist/images/backgrounds/background-03.jpg', 'center', 'center', 'fixed');
    }
    &.bg-4 {
      @include cover-background('../dist/images/backgrounds/background-04.jpg', 'center', 'center', 'fixed');
    }

    // Hide menu nav logo  
    .pure-menu-heading {  
        display: none;
    }

  }

  &.page-home-v1 {

    header.header {
        margin-top: - $spacing-unit;
    }

    section#main-content {

      margin-top: $spacing-unit ;


      @include ff-bg-color($ff-secondary); 
      @extend %ff-text-color-white;

      .bg-ff-white {
          @include ff-bg-color($ff-white); 
          @extend %ff-text-color-primary;
      }

      .bg-ff-secondary {
          @include ff-bg-color($ff-secondary); 
          @extend %ff-text-color-white;
      }

    }



  }

  &.page-home-1 {

    // Hide menu nav logo  
    .pure-menu-heading {  
        display: none;
    }

    .splash-home {
        margin-top: 2em;
    }

  }
  &.page-home-33 {
    // background-color: $ff-secondary;
  }

  &.page-home-4 {

    // Background fantasia
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  

    // @include transition(background-position 500ms ease-in-out);

    @include cover-background('../dist/images/bg-strips.jpg', 'bottom', 'left', 'fixed');
    background-repeat: no-repeat;
  }

  // CONTENT
  .splash-home {
    // text-align: center;
    h1 {
      &.slogan {
        margin-top: $spacing-unit;

      }
      display: block;
      svg {
         width: 585px;
      }
      span {
        text-indent: -9999px;
        display: none;
      }
    }
    h2 {
      font-size: $h2-font-size;
    }
    
    p {
       font-size: 1em;
        &.lead {
          font-size: $h4-font-size;
        }

        small {
            font-size: .75em;
        }

    }    


    h3:nth-child(1) {
      // margin-top: 4em;
    }

    h3 {
      // margin-top: 2em;
    }

    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: .5em;
      }
    }

   
    small, figcaption {
     font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
     font-weight: $base-font-weight;

    }


  }
}

.splash-home-cta {

  .pure-button {
    margin-top: .5em;
    margin-bottom: 1em;
  }
}

// Mejor de la otra manera, no? Al reves, solo para estos pabajo
// @include media-query($on-palm) {
@media (min-width: $on-palm) {
  body.page-home {
    .splash-home {
      h1, h2 {
        font-size: $h1-font-size;
      }
      h2 {
        font-size: $h2-font-size;
      }
      h3 {
        font-size: $h3-font-size;
      }
      h4 {
        font-size: $h4-font-size;
      }
      p {
        font-size: $h5-font-size;
        &.lead {
          font-size: $h4-font-size;
          padding: 0 3em;
        }

        small {
          font-size: .75em;
        }

      }

    }

  }

  .splash-home-cta {
    .pure-button {
    }
  }

}

@media (min-width: $on-laptop) {
  body.page-home {
    .splash-home {
      p.lead {
      }
    }

  }
  .splash-home-cta {
    .pure-button {
    }
  }
}

/** _footer.scss **/
body.page-home-v1  {
  @include ff-bg-color($ff-secondary); 
  @extend %ff-text-color-white;
  footer {
      &.footer {
        @include ff-bg-color($ff-secondary); 
        @extend %ff-text-color-white;
      }
  }
}
