/*
 * -- MAIN LAYOUT STYLES --
 * These are the classes for the common elements
 */

header {
    &.header {

    }
}

section.main {
    & > div {
        margin-top: 1em;
    }
} 

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 0;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

}

.l-box-lrg {
    padding: $spacing-unit;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

.l-box-xtra-lrg {
    padding: $spacing-unit * 2;
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;
}

// UTILITIES

.is-center {
    text-align: center;
}

// @see: http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
.visually-hidden {
  @extend %visuallyhidden;
}

// BRANDED UTILITIES

.bg-ff {
   // transition: background-color 3s ease 0s, transform 0.3s ease 0s;
}

.bg-ff-primary {
    @include ff-bg-color($ff-primary); 
    @extend %ff-text-color-white;
}
.bg-ff-secondary {
    @include ff-bg-color($ff-secondary); 
    @extend %ff-text-color-white;
}
.bg-ff-light {
    @include ff-bg-color($ff-light); 
    @extend %ff-text-color-white;
}
.bg-ff-dark {
    @include ff-bg-color($ff-dark); 
    @extend %ff-text-color-white;
}
.bg-ff-white {
    @include ff-bg-color($ff-white); 
}
.bg-ff-black {
    @include ff-bg-color($ff-black); 
    .pure-g [class *= "pure-u"],
    h1, h2, h3, h4, h5, h6, p, ul, ul li {
        color: $ff-white !important;
    }
}

@include media-query($on-palm) {
    .l-box-xtra-lrg {
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
    .l-box,
    .l-box-lrg {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
