/*
 * -- BRAND SVG STYLES --
 * These are the classes for the logo elements
 */

// Transitions 
#fctsfxns-logo-sq-wrapper {
    // For colors
    #fctsfxns-sq-logo-bg, 
    .fctsfxns-sq-line,
    .fctsfxns-sq-logo { 
        @include transition(all 0.3s );
    }
}    
#fctsfxns-logo-wrapper {
    #fctsfxns-logo {
        // For colors
        .fctsfxns-logo-letter {
            @include transition(all 0.3s );
        }
    }
}

.logo-primary {
    #fctsfxns-logo-sq-wrapper {
        #fctsfxns-sq-logo-bg {
            fill: $ff-primary; 
        }
        .fctsfxns-sq-line {
            fill: $ff-white; 
            &.fctsfxns-sq-line-first {}
            &.fctsfxns-sq-line-last {}
        }
        .fctsfxns-sq-logo {
            fill: $ff-white; 
            &.fctsfxns-sq-logo-root {}
            &.fctsfxns-sq-logo-square {}
        }
    }    
    #fctsfxns-logo-wrapper {
        #fctsfxns-logo {
            .fctsfxns-logo-letter {
                fill: $ff-primary; 
                &.fctsfxns-logo-letter-fi {}
                &.fctsfxns-logo-letter-and {}
                &.fctsfxns-logo-letter-fa {}
            }
        }
    }

}

.logo-primary-inverse {
    #fctsfxns-logo-sq-wrapper {
        #fctsfxns-sq-logo-bg {
            fill: transparent; 
        }
        .fctsfxns-sq-line {
            fill: $ff-primary; 
            &.fctsfxns-sq-line-first {}
            &.fctsfxns-sq-line-last {}
        }
        .fctsfxns-sq-logo {
            fill: $ff-primary; 
            &.fctsfxns-sq-logo-root {}
            &.fctsfxns-sq-logo-square {}
        }
    }    
    #fctsfxns-logo-wrapper {
        #fctsfxns-logo {
            .fctsfxns-logo-letter {
                fill: $ff-white; 
                &.fctsfxns-logo-letter-fi {}
                &.fctsfxns-logo-letter-and {}
                &.fctsfxns-logo-letter-fa {}
            }
        }
    }

}

.logo-secondary {
    #fctsfxns-logo-sq-wrapper {
        #fctsfxns-sq-logo-bg {
            fill: transparent; 
        }
        .fctsfxns-sq-line {
            fill: $ff-secondary; 
            &.fctsfxns-sq-line-first {}
            &.fctsfxns-sq-line-last {}
        }
        .fctsfxns-sq-logo {
            fill: $ff-secondary; 
            &.fctsfxns-sq-logo-root {}
            &.fctsfxns-sq-logo-square {}
        }
    }    
    #fctsfxns-logo-wrapper {
        #fctsfxns-logo {
            .fctsfxns-logo-letter {
                fill: $ff-secondary; 
                &.fctsfxns-logo-letter-fi {}
                &.fctsfxns-logo-letter-and {}
                &.fctsfxns-logo-letter-fa {}
            }
        }
    }

}

.logo-white {
    #fctsfxns-logo-sq-wrapper {
        #fctsfxns-sq-logo-bg {
            fill: transparent; 
        }
        .fctsfxns-sq-line {
            fill: #fff; 
            &.fctsfxns-sq-line-first {}
            &.fctsfxns-sq-line-last {}
        }
        .fctsfxns-sq-logo {
            fill: #fff; 
            &.fctsfxns-sq-logo-root {}
            &.fctsfxns-sq-logo-square {}
        }
    }   
    #fctsfxns-logo-wrapper {
        #fctsfxns-logo {
            .fctsfxns-logo-letter {
                fill: $ff-white; 
                &.fctsfxns-logo-letter-fi {}
                &.fctsfxns-logo-letter-and {}
                &.fctsfxns-logo-letter-fa {}
            }
        }
    }     
}

.logo-black {
    #fctsfxns-logo-sq-wrapper {
        #fctsfxns-sq-logo-bg {
            fill: transparent; 
        }
        .fctsfxns-sq-line {
            fill: $ff-black; 
            &.fctsfxns-sq-line-first {}
            &.fctsfxns-sq-line-last {}
        }
        .fctsfxns-sq-logo {
            fill: $ff-black; 
            &.fctsfxns-sq-logo-root {}
            &.fctsfxns-sq-logo-square {}
        }
    }    
    #fctsfxns-logo-wrapper {
        #fctsfxns-logo {
            fill: transparent; 
            .fctsfxns-logo-letter {
                fill: $ff-black; 
                &.fctsfxns-logo-letter-fi {}
                &.fctsfxns-logo-letter-and {}
                &.fctsfxns-logo-letter-fa {}
            }
        }
    }   
}