/*
 * -- NAVIGATION/MENU STYLES --
 * Customize how my .pure-menu looks at the top of the page
 */

@keyframes fade-in {
  from {
    opacity:0
  }
  to {
    opacity:1
  }
}

body.clip {
  overflow: hidden !important;
}

// Reserve margin height for the nav
section.main {
  margin-top: $nav-height;
} 

// The nav holds these elements
// - the logo used as back to home link
// - the main navigation menu visible for laptop and desktop users
// - the toggle click for mobile and  tablet users
// - and the toggled - navigation with the same navigation menu links 
nav.pure-menu {
    text-align: center;
    // box-shadow: 0 1px 1px $ff-secondary;

    padding: 0;
    max-height: $nav-height;
    height: $nav-height;

    // opacity
    @include pure-navigation-opacity(0.9, $ff-white);
    @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));

    overflow:hidden;    
    backface-visibility:hidden;

    .bar {
      z-index:2000;
      margin-top:0px;
      width:100%;
      height: $nav-height;
      background:none;
      @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));
    }

    // Heading with logo
    .pure-menu-heading {
        padding-left: $spacing-unit;
        float: left;
        @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));

        display: block;
        position: absolute;
        top: .25em;
        left: 0;
        z-index: 2000;

        #fctsfxns-logo-wrapper {
            #fctsfxns-logo {
                .fctsfxns-logo-letter {
                    fill: $ff-primary; 

                    &.fctsfxns-logo-letter-fi {
                        color: $ff-light;
                    }
                    &.fctsfxns-logo-letter-and {
                        color: $ff-light;
                    }
                    &.fctsfxns-logo-letter-fa {}
                }
            }
        }

        & > div {
            width: 210px; // Logo width
            margin-top: .25em; // Logo top margin 
            float: left;
        }
        span {
            text-indent: -9999px;   
            display: none;     
        }
    }

    // Navigation list for desktop screen
    .pure-menu-list {
        
        float: right;
        padding-right: $spacing-unit / 2;
        .pure-menu-item {
            padding-top: .75em;
            a {
               font-size: 0.75 * $base-font-size;
               color: $ff-primary;
               font-family: $helveticaneue;
               font-weight: 300;


               text-decoration: none;
               text-transform: uppercase;
               
               &:visited {
                  color: $ff-primary; 
               }
               &:hover,
               &:focus {
                    color: $ff-primary; 
                    text-decoration: none;
                    background: none;
                    border: none;
               }
               &:focus {
                outline: 0;
               }
            }              
        }
    }

    // links on navigation list
    .pure-menu-link {
        padding: .5em 1.25em;
    }

    .pure-menu-selected a {
       text-decoration: underline;
    }

    // Toggle with patty/burger on tablets, phablets and phones
    a#pure-menu-toggle {

      display: none;
      background-position:50% 50%;
      background-repeat:no-repeat;
      float: right;
      
      padding: 0 16px ;

      position: absolute;
      top: 1em ;
      right: 0;
      z-index: 2000;
      text-indent: -9999px;
      cursor: pointer;
      
      @include transition(all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));

      .patty {
        position: relative;
        width: 24px;
        height: 4px;
        margin: 10px 0;
        background: $ff-primary;
        
        @include transition(all 0.3s);

        &:before,
        &:after {
           border: none;
           content: '';
           display: block;
           width:24px;
           height:4px;
           background: $ff-primary;
           position: absolute;
           z-index: -1;
           @include transition(all 0.3s);
        }
        &:before {
           top: -7px;
        }
        &:after {
           top: 7px;
        }
      }

      &:hover {
        @include transition(top 0.4s);
        .patty {
          _background: $ff-secondary;
          &:before {
            _background: $ff-secondary;
            top: -8px;
          }
          &:after {
            _background: $ff-secondary;
            top: 8px;
          }
        }
      }


    }

    // The menu for on tablets, phablets and phones
    .nav-background {
      z-index:1500;
      position:absolute;
      position: fixed;

      top:0px;
      width:100%;
      height:100%;
      background:none;
      display:none;
      @include transition(background-color 0.6s cubic-bezier(0.7, 0.01, 0.3, 1));

      ul {
        visibility:hidden;
        top:-10%;
        width:100%;
        padding:0;
        opacity:0;
        display:table-cell;
        vertical-align:middle;
        -moz-transform:perspective(600px) rotateX(10deg);
        -webkit-transform:perspective(600px) rotateX(10deg);
        transform:perspective(600px) rotateX(10deg);
        -moz-transition:all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        -o-transition:all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        -webkit-transition:all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        transition:all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
        li {
          list-style:none;
          text-align:center;
          a {
              color: $ff-white;
              padding: .75em 0; 
              width:100%;
              display:block;
              font-family: $headlines-font;
              font-weight: 700;
              text-decoration: none;                
              font-size: $h5-font-size;
              span {
                font-weight: $headlines-font-weight-bold;
                text-transform: uppercase;
                font-size: 150%;
              }

              &:hover {
                background: lighten($ff-light, 10%); 
              }

              &:focus {
                outline: 0;
              }
          }

          &:nth-child(1) a:hover {
            background: darken($ff-secondary, 15%) ;
            background: $ff-primary; 
          }
          &:nth-child(2) a:hover {
            background: darken($ff-secondary, 5%) ;
            background: lighten($ff-secondary, 20%) ;
          }
          &:nth-child(3) a:hover {
            background: $ff-secondary; 
            background: lighten($ff-light, 20%) ;
          }
          &:nth-child(4) a:hover {
            background: lighten($ff-secondary, 30%) ;
          }

        }


      }

    }

    // The toggle has been clicked and .nav-background is shown
    &.open {
      @include transition(none);
      height: 100%;
      .bar {
        margin-top:0px;
        background:none
      }

      .pure-menu-heading {

        #fctsfxns-logo-wrapper {
            #fctsfxns-logo {
                .fctsfxns-logo-letter {
                    fill: $ff-white; 
                    &.fctsfxns-logo-letter-fi {}
                    &.fctsfxns-logo-letter-and {}
                    &.fctsfxns-logo-letter-fa {}
                }
            }
        }  

      }

      .nav-background {
        display: table;
        background-color: $ff-light !important;
        ul {
            top:0;
            visibility:visible;
            opacity:1;
            margin-top:0;
            -moz-transform:perspective(600px) rotateX(0deg);
            -webkit-transform:perspective(600px) rotateX(0deg);
            transform:perspective(600px) rotateX(0deg);
        }

      }

      a#pure-menu-toggle {
        .patty {
          background:none !important;
          
          &:before,
          &:after {
           width:24px;
           height:4px;
            content: '';
            display: block;
            position: absolute;
            
            background: $ff-white;
            z-index: -1;
            @include transition(all 0.3s);
          }
          &:before {
            background: $ff-white;
            top:0 !important;
            @include transformation(rotate(-45deg));
          }
          &:after {
            background: $ff-white;
            top:0 !important;
            @include transformation(rotate(45deg));
          }
        }
        &:hover {
          .patty {
            &:before {
              _background: $ff-light;
            }
            &:after {
              _background: $ff-light;
            }
          }
        }        
      }
    }



    &.closing {
      height:100%;
      .nav-background {

        ul {
          top:10%;
          visibility:visible;
          opacity:0;
          -moz-transform:perspective(600px) rotateX(-10deg);
          -webkit-transform:perspective(600px) rotateX(-10deg);
          transform:perspective(600px) rotateX(-10deg);
          -moz-transition:all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
          -o-transition:all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
          -webkit-transition:all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
          transition:all 0.5s cubic-bezier(0.63, 0.64, 0.3, 1);
        }

      }
    }

    &.hide-it {
      -moz-transition:all 0s;
      -o-transition:all 0s;
      -webkit-transition:all 0s;
      transition:all 0s;
      display:none
    }

}

// Fixed menu properties
.pure-menu.pure-menu-fixed {
    /* Fixed menus normally have a border at the bottom. */
    border-bottom: none;
    /* I need a higher z-index here because of the scroll-over effect. */
    z-index: 4;
}

// Class to hide navigation
body.pure-no-nav {   
    // restore margin top in case is tricked
    section.main {
      margin-top: 0;
    }
    // hide navigation on this version
    nav.pure-menu {
      display: none;
      @extend %visuallyhidden;
    }
}


// Breakpoints
@include media-query($on-palm) {

  .js nav.pure-menu {
    // Hide main nav
    .pure-menu-list {
      overflow: hidden;
      max-height: 0;
    }
  }

  nav.pure-menu {
    _background: green; // testing purposes
    // logo
    .pure-menu-heading {
      padding-left: $spacing-unit / 2;
      & > div {
      }
    }

    // Hide main nav
    .pure-menu-list {
      display: none;
    }
    // Show Toggle
    a#pure-menu-toggle {
      display: block;
      right: .5em;
    }
  }
}

@include media-query($on-phablet) {
  nav.pure-menu {
    _background: red; // testing purposes

    a#pure-menu-toggle {
      right: 0;
      padding-right: 1.5em;
    }
    // logo
    .pure-menu-heading {
      & > div {
          width: 180px; // Logo width
          margin-top: .25em; // Logo top margin 
          // display: none;
      }
    }


  }
}

@include media-query($on-mobile) {
  nav.pure-menu {
    _background: blue; // testing purposes
    a#pure-menu-toggle {
      right: 0;
      padding-right: 1em;
    }

    // logo
    .pure-menu-heading {
      & > div {
          width: 150px; // Logo width
          margin-top: .5em; // Logo top margin 
          // display: none;
      }
    }
  }
}



